/*selector{
property: value;
}*/
.container
{
    position: relative;
    text-align: center;
    color:black;
    font-size: xx-large;
    background-blend-mode:overlay;
}
.centered
{
    position: absolute;
    text-align:center;
    font-weight: bolder;
    font-size: xx-large;
    top:50%;
    bottom:33%;
    left:45%;
    right:45%;
    font-size:50;
    border-bottom:5px solid #182257;
    width:200px;
}
p
{
    font-size: xx-large;
    margin: 0px;
    padding: 25px;
}
.row
{
    display: flex;
    justify-content: space-evenly;
    background-color: #a1b6dd;
}
h1
{
    text-align:center;
    font-family: Lucida Sans Unicode;
    border-bottom:5px solid #182257;
   

}
.img
{
    display: flex;
    justify-content: space-evenly;
}